* {
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    background-color: #ece9e9;
}

p {
    font-size: .9rem;
}
a {
    text-decoration: none;
}
hr {
    margin: .5rem 0;
}
.container {
    position: relative;
}
.top-info {
    position: fixed;
    z-index: 99;
}
.top-info i {
    display: none;
}
.info {
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}
.profile {
    background-color: #ffffff;
    vertical-align: top;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 10px -12px;
}
.profile img {
    margin: .5rem 0;
}
.profile p {
    font-size: 1rem;
}
.middle-info {
    position: fixed;
    overflow-y: auto;
    padding-top: 8.5rem;
    height: calc(100vh - 20px);
}
.middle-info::-webkit-scrollbar {
    display: none;
}
.info-detail {
    background-color: #f5f5f5;
    padding: 1.5rem;
}
.info-detail p {
    font-size: 1rem;
}
.country-left p, .country-right p {
    margin-bottom: .5rem;
}

/* Skill */
.lang-header {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
}
.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}
.lang {
    font-size: .9rem;
    margin-bottom: 1rem;
}
.code-section {
    font-size: .9rem;
}
.tools {
    font-size: .9rem;
    margin-bottom: 0;
}
.lang-section {
    font-weight: 500;
}
.cv {
    margin-top: 1rem;
    font-weight: 700;
}
.bottom-info {
    position: fixed;
    bottom: 0;
    z-index: 99;
}
.info-footer {
    background-color: #ffffff;
}

/* Nav bar */
.nav-top {
    position: fixed;
    z-index: 99;
}
nav button {
    opacity: 0;
}
nav ul li a {
    color: #494d50;
    font-size: 1rem;
    font-weight: 500;
}
nav ul li a:hover {
    color: #212529;
}

/* My banner */
.middle-content {
    position: fixed;
    overflow-y: auto;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    height: 100vh;
}
.middle-content::-webkit-scrollbar {
    display: none;
}
.my-banner {
    position: relative;
    height: 21rem;
}
.bg-ban {
    height: 12rem;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
    position: relative;
}
.sub-bg {
    background-color: #ffffff;
    height: 8rem;
    width: 85%;
    border-radius: .2rem;
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translate(-50%, -50%);
}
.main-bg {
    height: 18rem;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 12%;
    width: 98%;
    z-index: 1;
}
.main-bg .main-content .slogan {
    padding: 1.5rem;
}
.main-bg .main-content .slogan h2 {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1;
    color: #212529;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
.slogan h2 {
    text-align: left;
}
.slogan .typing-text {
    color: #212529;
    font-size: 1.2rem;
}
.slogan .mark-code {
    color: #f46258;
}
.slogan p {
    font-size: 1rem;
    text-align: left;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    overflow: hidden;
}
.slogan p span.typed-text {
    font-weight: bold;
    color: #f46258;
    background-color: #ffffff;
    padding: 0 .2rem;
}
.slogan p span.cursor {
    display: inline-block;
    background-color: #212121;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
.slogan p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%  { background-color: #212529; }
    49% { background-color: #212529; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #212529; }
}
.slogan .now-btn {
    background-color: #f46258;
    padding: .5rem 1.5rem;
    font-size: .7rem;
    font-weight: 500;
    border: none;
    transition: transform 0.5s ease-in-out;
}
.slogan .now-btn:hover {
    transform: translateY(-4px);
}

/* My works */
.works h5 {
    font-size: 1rem;
    font-weight: 700;
}
.work-done {
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.work-done img {
    object-fit: cover;
    width: 100%;
    height: 13rem;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.work-done img:hover {
    transform: scale(1.1);
}
.work-done .show-more {
    padding: 1rem;
    background-color: #ffffff;
}
.show-more h5 {
    font-size: 1rem;
}
.show-more p {
    font-size: .9rem;
}
.show-more a {
    color: #f46258;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
}
.link-arrow span {
    display: inline-block;
    font-weight: 700;
    transition: transform .5s ease-in;
}
.link-arrow:hover span {
    transform: translateX(5px);
}


/* Resume */
.resume {
    margin-top: .8rem;
}
.resume h5 {
    font-size: 1rem;
    font-weight: 700;
}
.resume .edu-box {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.edu-box .student {
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    margin: 0;
}
.edu-box p {
    font-size: .9rem;
    font-style: italic;
    margin: 0;
}
.edu-box h5 {
    font-size: 1rem;
    font-weight: 600;
}
.univer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.univer-content p {
    width: 13rem;
    border: none;
    padding: .3rem .7rem;
    border-radius: 3rem;
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px 0px 7px;
    margin-bottom: .5rem;
}
.edu-box .more-diplome {
    border: none;
    background: transparent;
    font-size: .8rem;
    color: #f46258;
    font-weight: 600;
}
.more-diplome span {
    display: inline-block;
    font-weight: 700;
    transition: transform .5s ease-in;
}
.more-diplome:hover span {
    transform: translateX(5px);
}

/* Contact */
.contact {
    margin-top: .7rem;
}
.contact h5 {
    font-size: 1rem;
    font-weight: 700;
}
.contact-add {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contact-add * p {
    margin-bottom: 1rem;
    padding-top: .5rem;
    margin: 0;
}

/* Form Contact */
.contact-me {
    margin-top: .7rem;
}
.contact-me h5 {
    font-size: 1rem;
    font-weight: 700;
}
.contact-contain {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    background-color: #ffffff;
}
.form-contact {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: .5rem;
}
.form-contact i {
    padding: 1.1rem;
    background-color: #f3f3f3;
    height: 3.2rem;
}
.form-contact input, .form-contact textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: #f3f3f3;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-contact input {
    height: 3.2rem;
    padding-left: 1rem;
}
.form-contact input:focus ~ i {
    background-color: #f46258;
    color: #ffffff;
}
.form-contact i.fa-envelope {
    height: 9.7rem;
}
.form-contact textarea {
    padding: 1rem;
}
.form-contact textarea:focus ~ i {
    background-color: #f46258;
    color: #ffffff;
}
.form-contact #failue-name, .form-contact #failue-mail,
.form-contact #failue-subject, .form-contact #failue-message {
    display: none;
}
.form-contact .fa-circle-exclamation {
    position: absolute;
    right: 2.3rem;
    background-color: transparent;
    color: #ff0000;
}
.form-contact .fa-circle-check {
    position: absolute;
    right: 2.3rem;
    background-color: transparent;
    color: seagreen;
}
.send-mes {
    background-color: #f46258;
    padding: .7rem 1.5rem;
    margin-top: 1.5rem;
    border: none;
    font-size: .8rem;
    font-weight: 600;
    transition: transform .5s ease-in;
}
.send-mes:hover {
    transform: translateY(-5px)
}
#name-error, #mail-error, #subject-error, #message-error, #submit-error {
    padding-bottom: .5rem;
    color: #ff0000;
}

/* Footer */
footer {
    padding: .7rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
footer h5 {
    margin: 0;
    font-size: 1rem;
    color: #5c5c6f;
}

/* Swiper Box */
.moreBox {
    position: absolute;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
    opacity: 0;
    transition: opacity 0.9s ease;
}
.show {
    opacity: 1;
    display: block;
}
.nav-box {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    gap: 1.5rem;
}
.nav-box * i {
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
}
.swiper {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 800px;
    height: 500px;
}
.zoomer {
    transform: scale(1.5);
}
.swiper-button-next {
    right: calc(10% - 50px) !important;
}
.swiper-button-prev {
    left: calc(10% - 50px) !important;
}
.swiper-button-white {
    color: #ffffff !important;
}


